.Navbar{
    width: 100%;
    padding: 10px 40px;
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleNavbar{
    color: white;
    font-size: 30pt;
    padding: 10px 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    flex-grow: 2;
}

.NavbarButton{
    flex-grow: 1;
    background-color: #ffffff00;
}

.NavbarButton button{
    background-color: #ffffff00;
}